<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--x_UTPDPk--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/u5d7sosk30lm7pex8lqc.png" class="d-block w-100" alt="Sunset Over the City"/>
        
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://i0.wp.com/letslearnabout.net/wp-content/uploads/2020/04/100days.jpg?resize=370%2C235&ssl=1" class="d-block w-100" alt="Canyon at Nigh"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://i0.wp.com/letslearnabout.net/wp-content/uploads/2020/04/100days.jpg?resize=370%2C235&ssl=1" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
            <!--Main layout-->
            <main class="mt-5">
                <div class="container">
                  <!--Section: Content-->
                  <section>
                    <div class="row">
                      <div class="col-md-6 gx-5 mb-4">
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                          <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                      </div>
          
                      <div class="col-md-6 gx-5 mb-4">
                        <h4><strong>Facilis consequatur eligendi</strong></h4>
                        <p class="text-muted">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                          eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                          sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                        </p>
                        <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                        <p class="text-muted">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                          nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                          alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                        </p>
                      </div>
                    </div>
                  </section>
                  <!--Section: Content-->
          
                  <hr class="my-5" />
          
                  <!--Section: Content-->
                  <section class="text-center">
                    <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>
          
                    <div class="row">
                      <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                              class="img-fluid"
                            />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk of the
                              card's content.
                            </p>
                            <a href="#!" class="btn btn-dark">Button</a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                              class="img-fluid"
                            />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk of the
                              card's content.
                            </p>
                            <a href="#!" class="btn btn-dark">Button</a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                              class="img-fluid"
                            />
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk of the
                              card's content.
                            </p>
                            <a href="#!" class="btn btn-dark">Button</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </main>
              <!--Main layout-->
  </div>
  <!-- Carousel wrapper -->