<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <main>
            <section class="about">
                <h1>About this Project</h1>
                <p>
                    Ever do the
                    <a target="_blank " href="https://100daysofcode.com">[100daysofcode.com]</a>
                    challenge and find yourself skipping, forgetting which day, etc?
                </p>
                <p>
                    Well this project aims to correct that with friendly reminders, a
                    simple way to keep track of what day you are on, and will allow you to
                    tweet directly from it (hopefully!).
                </p>
                <p>
                    This is an Opensource project designed by a group of aspiring software
                    engineers learning about collaboration on Github. We hope you find it
                    a really useful tool to track your progress through 100daysofcode.
                </p>
            </section>
            <section class="faqs" id="faqs">
                <h2>F.A.Qs</h2>
                <!-- ONLY QUESTION SHOULD BE VISIBLE ANSWER SHOULD BE DISPLAYED ON CLICK  -->
            </section>
        </main>
        <%- include('partials/footer.ejs') %>