<%- include('partials/head.ejs') %> 
<div id="content">
  <div class="inner">
  <article class="box post post-excerpt">
    <h2>About this Project</h2>
    <p>
      Ever done the
      <a target="_blank " href="https://100daysofcode.com"
        >[100daysofcode.com]</a
      >
      challenge and found yourself skipping, forgetting which day you were on, etc?
    </p>
    <p>
      This project aims to help you stay consistent by giving you friendly reminders, a simple
      way to keep track of what day you are on, and will allow you to tweet
      directly from it (hopefully!).
    </p>
    <p>
      This is an Opensource project designed by a group of aspiring software
      engineers that are learning about collaboration on Github. We hope you find this tool very useful as it helps you to track your progress through 100daysofcode.
    </p>
  </article>
  <article class="box post post-excerpt">    
    <h2>F.A.Qs</h2>
    <!-- ONLY QUESTION SHOULD BE VISIBLE ANSWER SHOULD BE DISPLAYED ON CLICK  -->
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>
</div>
</div>

<%- include('partials/sidebar.ejs') %>
<%- include('partials/footer.ejs') %>