<%- include('partials/head.ejs') %>
<main>
  <section class="profile">
    <!-- needs to be a form that a user populates with information that propagates to the home page -->
    <form action="POST">
      <legend></legend>
      <input type="text" name="username" id="username" />
    </form>
  </section>
</main>
<%- include('partials/sidebar.ejs') %>
<%- include('partials/footer.ejs') %>