<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <main>
            <section class="login">
                <h2>WELCOME</h2>
                <h3>Sign in</h3>
                <h3><a href="signup.html"> Create an account</a></h3>
                <form action="">
                    <div class="div">
                        <label for="username">Username</label>
                        <input type="name" id="username" required />
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password" id="password" required />
                    </div>
                    <p><a href="#">forgot password?</a></p>

                    <button type="submit">sign In</button>
                </form>
            </section>
        </main>
        <%- include('partials/footer.ejs') %>