<%- include('partials/head.ejs') %> 

  <!-- Main -->
  <div class="container">
    <h1>Sign up</h1>
    <form action="/signup/auth" method="POST" enctype="application/json">
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required/>
        </div>
        <br />
        <div class="form-group floating-label-form-group controls">
          <label for="email">email</label>
          <input type="email" class="form-control" id="email" name="email" required/>
        </div>
        <br />
        <div class="form-group floating-label-form-group controls">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required/>
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class btn btn-primary id="sendMessaageButton">
            Signup
          </button>
        </div>
  </div>
<%- include('partials/sidebar.ejs') %>
<%- include('partials/footer.ejs') %>