    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <main>
            <section class="Sign in"></section>
        </main>
    <%- include('partials/footer.ejs') %>