<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <main>
            <section class="login">
                <h2>WELCOME</h2>
                <h3>Sign up</h3>
                <h3><a href="signin.html">Sign In</a></h3>
                <form action="">
                    <div class="div">
                        <label for="email">email</label>
                        <input type="email" id="email" required />
                    </div>
                    <div class="div">
                        <label for="username">Username</label>
                        <input type="name" id="username" required />
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password" minlength="8" id="password" required />
                    </div>
                    <div>
                        <label for="c-password">confirm password</label>
                        <input type="password" minlength="8" id="c-password" required />
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </section>
        </main>
        <%- include('partials/footer.ejs') %>